<html>
  <head>
    <title>Загрузка файлов</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .res img {
        width: 600px;
        height: 400px;
      }

      .res {
        text-align: center;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 10;
      }
      .all_out {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    </style>

  </head>
  <body>
  <div align="center">
    <header class="header">
      <div class="header_wrapper">
        <br>
      </div>
    </header>
    <br>
    <h1>Загрузка файлов</h1>
    <div>
        <p>
            Выберите файлы на компьютере и нажмите кнопку загрузки.
        </p>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
      <p>
        <div class="custom-file-upload">
          <div class="form-group">
            <label class="label">
              <i class="material-icons">attach_file</i>
              <span class="title">Добавить файл</span>
              <input type="file" name="file" multiple>
            </label>
          </div>
        </div>
      </p>
      <p><input type="submit" value="Загрузить"></p>
    </form>
  </div>
  <div class="all_out">
    {% if interface_files %}
      {% for file_pair in interface_files %}
        <div align="center", class="res">
          <img src="{{url_for('upload_static', filename=file_pair[0].split('/')[-1]) }}">
        </div>
      {% endfor %}
    {% endif %}
  </div>
  </body>
</html>